{% extends "base.html" %}
{% block content %}
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
      <link rel="stylesheet" href="../static/css/base.css">
    <!--Formulario-->
    <section id="Formulario" class="pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <h2 class="">Administrar Usuarios</h2>
            </div>
          </div>
          <div>
            <form>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="icon ion-md-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </form>
          </div>
          <div class="custom-control custom-control-sm custom-checkbox">
            <abbr data-toggle="tooltip" data-placement="bottom" title="Añadir"><button data-toggle="modal" data-target="#crear"><i class="icon ion-md-add-circle"></i></button></abbr>
          </div>
          <div class="table-responsive pt-5">   
            <form id="createForm" method="POST">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">id</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for user in usuarios %}
                    <td>
                      <div class="custom-control custom-control-sm custom-checkbox">
                        <!-- {% from "_macro.html" import render_field %} -->
                        <!-- {{render_field(form.checkbox,  value="check{{user.id}}" )}}  -->
                        <input class="custom-control-input" name="user_ids" type="checkbox" id="check{{user.id}}" value="check{{user.id}}">
                        <label class="custom-control-label" for="check{{user.id}}">
                        </label>
                      </div>
                    </td>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.perfil}}</td>
                    <td>{{user.create_date}}</td>
                    <td>
                      <div class="custom-control custom-control-sm custom-checkbox">
                        <abbr data-toggle="tooltip" data-placement="bottom" title="Eliminar"><button type="submit" name="Eliminar" value="eliminar" ><i class="icon ion-md-trash"></i></button></abbr>
                        <abbr data-toggle="tooltip" data-placement="bottom" title="Editar"><button data-toggle="modal" data-target="#editar"><i class="icon ion-md-create"></i></button></abbr>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </form>
          </div>
        </div>
    </section>
      <!--/Formulario-->
      <!-- Modal para Crear-->
      <div class="modal fade" id="crear" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">CREAR NUEVO USUARIO</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="createForm" method="POST">
            <div class="modal-body">
                <div class="contenedor">
                    
                    
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                        {% from "_macro.html" import render_field %}
                        <div id='username'>
                                <p>Usuario</p>
                                {{render_field(form.username)}}                               
                        </div>
                        <div class="pb-2"id='contraseña'>
                                <p>Contraseña</p>
                                {{render_field(form.password)}} 
                        </div>  
                        <div id='perfil' >
                                <br>{{render_field(form.perfil)}}
                        </div>

                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" href="{{url_for('logout')}}" data-dismiss="modal">Cerrar</button>
              <button class="submit-btn">Crear</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /Modal -->
        <!-- Modal para Elminar-->
        <div class="modal fade" id="eliminar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">EDITAR USUARIO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-footer">
                <p>Seguro que desea eliminar este usuario?</p>
                <button type="button" class="btn btn-secondary" href="{{url_for('logout')}}" data-dismiss="modal">Cerrar</button>
                <button class="submit-btn">Eliminar</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /Modal -->
      <!-- Modal para Editar-->
      <div class="modal fade" id="editar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">EDITAR USUARIO</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="createForm" method="POST">
            <div class="modal-body">
                <div class="contenedor">
                  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                  {% from "_macro.html" import render_field %}
                    <div id='username'>
                      <p>Usuario</p>
                      {{render_field(form.username)}}                               
                    </div>
                    <div class="pb-2"id='contraseña'>
                      <p>Contraseña</p>
                      {{render_field(form.password)}} 
                    </div>  
                    <div id='perfil' >
                      <br>{{render_field(form.perfil)}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" href="{{url_for('logout')}}" data-dismiss="modal">Cerrar</button>
              <button class="submit-btn">Crear</button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /Modal -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}