{% extends 'base.html'%}
{%block title%}{{title}}{%endblock%}
{%block content%}
<link rel="stylesheet" href="../static/css/table.css">
<link rel="stylesheet" href="../static/css/spam.css">
<div class="tabset">
    <!-- Tab 1 -->
    <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
    <label for="tab1">LOOKUP TOOL</label>
    <!-- Tab 2 -->
    <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
    <label for="tab2">EMAIL CHECK</label>
        
    <div class="tab-panels">
      <section id="marzen" class="tab-panel">
        
        <form  method="POST">
            <div class="conteiner">
                <div class="domain">
                    <p>Domain</p>
                </div>
                <div class= "search">       
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>              
                    <!-- <input type="text" class="input-domain"> -->

                    {% from "_macro.html" import render_field %}
                    {{render_field(form.domain, class="input-domain", placeholder="Domain")}}
                    {{render_field(form.option, class="option-button", placeholder="Domain")}}
                    <button type="submit" class="scan-button">Scan</button>    
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-danger alert-dismissible "> 
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                     {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="tabla-scan row pt-5">
                    <div class="col overflow-auto " id="table" style="height: 350px">  
                        {% for table in tables %}  
                            {{table|safe}}
                        {% endfor %} 
                    </div>        
                </div>  
                <div class="row pb-2">
                    <p class="dns font-weight-bold pl-5">{{error}}</p>
                </div>          
            </form>
            </div>    
      </section>
    </div>    
</div>            
{%endblock%}