@font-face {
    font-family: 'icomoon';
    src:  url('../image/fonts/icomoon.eot?qfcook');
    src:  url('../image/fonts/icomoon.eot?qfcook#iefix') format('embedded-opentype'),
      url('../image/fonts/icomoon.ttf?qfcook') format('truetype'),
      url('../image/fonts/icomoon.woff?qfcook') format('woff'),
      url('../image/fonts/icomoon.svg?qfcook#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-users:before {
    content: "\e972";
  }
  .icon-key:before {
    content: "\e98d";
  }
  .icon-menu:before {
    content: "\e9bd";
  }
  .icon-exit:before {
    content: "\ea14";
  }
  .icon-mail:before {
    content: "\ea83";
  }
  .icon-stumbleupon2:before {
    content: "\eacf";
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100vw;
    height: 100vh;
}

header{
    
    display: flex;
}

header .header-logo{
    width: 12vw;
    min-width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
header div.header-logo h4{
    color: white;
    font-size: 1.6rem;
    
}
header .header-user{
    width: 88vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}
header .header-user h4{
    font-size: 1.2rem;
}
main{
    width: 100vw;
    height: calc(100% - 50px);
    display: flex;
}
main section.side-bar{
    display: flex;
    
    width: 12vw;
    height: 100%;
    min-width: 140px;
    background-color: #2a3647ea;
}
main section.side-bar ul.side-bar-menu{
    margin-top: 40px;
    list-style: none;
    width: 100%;
}
main section.side-bar ul.side-bar-menu li.li-menu{
    margin-bottom: 30px;
    cursor:pointer;
}
main section.side-bar ul.side-bar-menu li.li-menu:hover{
    border-left: 3px solid black;
}
main section.side-bar ul.side-bar-menu li.li-menu > a{
    margin-bottom: 30px;
    padding-left: 20px;
}

.side-bar-menu-access{ 
    margin-top: 30px;
    position:relative;
    top:0px;
    list-style: none;
    padding-left: 22px;
    display: inherit;
}
main section.side-bar ul.side-bar-menu li.li-menu ul.side-bar-menu-access li{ 
    margin-bottom: 20px;
    margin-left: 20px;
}
main section.side-bar ul.side-bar-menu li.li-menu ul.side-bar-menu-access li a{ 
    font-size: 1rem;
}

main section.side-bar ul.side-bar-menu li.li-menu:last-child{
    position: absolute;
    bottom: 3%;
}
main section.side-bar ul.side-bar-menu li.li-menu a{
    text-decoration: none;
    color: rgb(226, 225, 233);
    font-size: 1.1rem;
    font-weight: 500;
}
main section.side-bar ul.side-bar-menu li.li-menu a:hover{
    color: rgb(0, 0, 0);
}

nav{
    display: none;
}
.mystyle{
    display: block;
}
main section.main-content{
    width: 88vw;
    height: 100%;
   
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}
