.data {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    position: relative;    
    overflow: hidden;
    text-align: justify;
    margin-left:auto;
    margin-right:auto;
    
}
.data thead{
    background-color: #224dc2ea;
    color: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    border: 1px !important;
}

.data td, th {
    padding: 5px;
    text-align: justify;

}
.data tr:hover {
    background: silver;
    cursor: pointer;
}